<div class="mock-field">
    <template v-if="field.multiple">
        <div>
            <slot name="header">
                <h5>{{ field.name }}</h5>
            </slot>
            <ul class="mock-field-extend">
                <li v-for="(xfield, name) in xfields">
                    <mock-field :field="xfield" :model="model">
                        <button slot="line-end"
                            @click="delXValue(name)"
                            class="mock-field-button"
                        >x</button>
                    </mock-field>
                </li>
                <li>
                    <input
                        class="mock-field-input mock-field-xname input-box"
                        type="string"
                        v-model="xname"
                        :placeholder="field.name + ':*'"
                    />
                    <input
                        class="mock-field-input input-box"
                        type="string"
                        v-model="xvalue"
                        placeholder="*"
                    />
                    <button
                        @click="setXValue"
                        class="mock-field-button"
                    >+</button>
                </li>
            </ul>
            <slot name="footer"></slot>
        </div>
    </template>
    <template v-else>
        <slot name="line-start"></slot>
        <label class="mock-field-label">{{ field.name }}</label>
        <select
            v-if="field.enum"
            class="mock-field-input select-box"
            v-model="model[field.name]"
        >
            <option v-for="i in field.enum" :value="i">{{ i }}</option>
        </select>
        <input
            v-else-if="field.type == 'number'"
            class="mock-field-input input-box"
            type="number"
            v-model="model[field.name]"
            :placeholder="field.type"
        />
        <input
            v-else-if="field.type == 'boolean'"
            class="mock-field-input check-box"
            type="checkbox"
            v-model="model[field.name]"
            :placeholder="field.type"
        />
        <input
            v-else-if="field.type == 'string' && !field.rich_text"
            class="mock-field-input input-box"
            type="string"
            :value="model[field.name]"
            @input="setValue($event.target)"
            :placeholder="field.type"
        />
        <textarea
            v-else
            class="mock-field-input text-box"
            :value="model[field.name]"
            @input="setValue($event.target)"
            :placeholder="field.type"
        ></textarea>
        <slot name="line-end"></slot>
    </template>
</div>
