<html>
<head>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script type="text/x-template" id="object-details">
        <div>
            <template v-if="self instanceof Array">
                <ol>
                    <li v-for="v of self" v-if="v != self">
                        <span v-if="typeof v != 'object'">{{ v }}</span>
                    </li>
                </ol>
            </template>
            <template v-else>
                <ul>
                    <li v-for="(v, k) of self" v-if="!k.startsWith('$') && !k.startsWith('_') && v != self">
                        <span>{{ k }}</span>:
                        <span v-if="typeof v != 'object'">{{ v }}</span>
                        <div is="object-details" :self="v" v-else></div>
                    </li>
                </ul>
            </template>
        </div>
    </script>
</head>
<body>
<div id="main">
    <input id="bridge" type="hidden">
	<div id="schema-tab">
        <div is="object-details" :self="self" name="schema-tab"></div>
    </div>
	<div id="schema-list">
        <div is="object-details" :self="self" name="schema-list"></div>
    </div>
	<div id="item-details">
        <div is="object-details" :self="self" name="item-details"></div>
    </div>
</div>
<script src="/static/js/index.js"></script>
</body>
</html>
