<html>
<head>
	<title>Mock Server</title>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script type="text/x-template" id="object-details">
		<div>
			<template v-if="self instanceof Array">
				<ol>
					<li v-for="v of self" v-if="v != self">
						<span v-if="typeof v != 'object'">{{ v }}</span>
					</li>
				</ol>
			</template>
			<template v-else>
				<ul>
					<li v-for="(v, k) of self" v-if="!k.startsWith('$') && !k.startsWith('_') && v != self">
						<span>{{ k }}</span>:
						<span v-if="typeof v != 'object'">{{ v }}</span>
						<div is="object-details" :self="v" v-else></div>
					</li>
				</ul>
			</template>
		</div>
	</script>

	<script type="text/x-template" id="component-mock-field">
		<div class="mock-field">
			<template v-if="field.multiple">
				<div>
					<h5>{{ field.name }}</h5>
					<ul class="mock-field-extend">
						<li v-for="(xfield, name) in xfields">
							<mock-field :field="xfield" :model="model">
							</mock-field>
							<button
								@click="delXValue(name)"
								class="mock-field-button"
							>x</button>
						</li>
						<li>
							<input
								class="mock-field-input mock-field-xname input-box"
								type="string"
								v-model="xname"
								:placeholder="field.name + ':*'"
							/>
							<input
								class="mock-field-input input-box"
								type="string"
								v-model="xvalue"
								placeholder="*"
							/>
							<button
								@click="setXValue"
								class="mock-field-button"
							>+</button>
						</li>
					</ul>
				</div>
			</template>
			<template v-else>
				<label class="mock-field-label">{{ field.name }}</label>
				<select
					v-if="field.enum"
					class="mock-field-input select-box"
					:value="model[field.name]"
					@input="model[field.name] = $event.target.value"
				>
					<option v-for="i in field.enum">
						{{ i }}
					</option>
				</select>
				<input
					v-else-if="field.type == 'number'"
					class="mock-field-input input-box"
					type="number"
					:value="model[field.name]"
					@input="model[field.name] = $event.target.value"
					:placeholder="field.type"
				/>
				<input
					v-else-if="field.type == 'string'"
					class="mock-field-input input-box"
					type="string"
					:value="model[field.name]"
					@input="model[field.name] = $event.target.value"
					:placeholder="field.type"
				/>
				<input
					v-else-if="field.type == 'boolean'"
					class="mock-field-input check-box"
					type="checkbox"
					:value="model[field.name]"
					@input="model[field.name] = $event.target.value"
					:placeholder="field.type"
				/>
				<textarea
					v-else
					class="mock-field-input text-box"
					:value="model[field.name]"
					@input="model[field.name] = $event.target.value"
					:placeholder="field.type"
				>
				</textarea>
			</template>
		</div>
	</script>
	<script>
		Vue.component("mock-field", {
			template: "#component-mock-field",
			props: ["field", "model"],
			data: function () {
				return {
					old_xname: "",
					xname: "",
					xvalue: "",
					xfields: {},
				};
			},
			methods: {
				setXValue: function () {
					if (!this.xname) {
						return;
					}
					var xname = this.field.name + ":" + this.xname;
					this.model[xname] = this.xvalue;
					this.xname = "";
					this.xvalue = "";
					Vue.set(this.xfields, xname, {
						name: xname,
						type: this.field.type,
						default: "",
						multiple: false,
					});
				},
				delXValue: function (xname) {
					Vue.delete(this.model, xname);
					Vue.delete(this.xfields, xname);
				}
			},
		});
	</script>

	<script type="text/x-template" id="component-mock-details">
		<div class="mock-details">
			<h3 class="mock-details-title">{{ schema.name }}</h3>
			<div class="mock-details-request">
				<h4 class="mock-details-request-title">Request</h4>
				<ul class="mock-details-request-fields">
					<li v-for="field in schema.request_fields">
						<mock-field :field="field" :model="model"></mock-field>
					</li>
				</ul>
			</div>
			<div class="mock-details-response">
				<h4 class="mock-details-request-title">Response</h4>
				<ul class="mock-details-response-fields">
					<li v-for="field in schema.response_fields">
						<mock-field :field="field" :model="model"></mock-field>
					</li>
				</ul>
			</div>
		</div>
	</script>
	<script>
		Vue.component("mock-details", {
			template: "#component-mock-details",
			props: ["schema", "model"],
		});
	</script>
</head>
<body>
	<div id="test">
		<mock-details :schema="schema" :model="model"></mock-details>
	</div>
<div id="main" style="display: none">
	<input id="bridge" type="hidden">
	<div id="schema-tab">
		<div is="object-details" :self="self" name="schema-tab"></div>
	</div>
	<div id="schema-list">
		<div is="object-details" :self="self" name="schema-list"></div>
	</div>
	<div id="item-details">
		<div is="object-details" :self="self" name="item-details"></div>
	</div>
</div>
<script src="/static/js/index.js"></script>
</body>
</html>
